body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #3a3737;
  height: 30px;
  text-align: center;
}

li {
  float: left;
}

.search_result_div {
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
  text-align: center;
}

.employeeDiv {
  margin: 40px;
  border: 3px solid red;
}

.employee_inner_div {
  margin: 30px;
}

.logout_button {
  float: right;
}

h2 {
  margin: 20px;
}
