body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #3a3737;
  height: 30px;
  text-align: center;
  z-index: 0;
}

li {
  float: left;
}

.login-div {
  padding: 10px;
}
.login-style {
margin: auto;
border: 1px solid red;
padding: 10px;
box-shadow: 5px 5px;
border-radius: 25px;
width: 600px;
}

.top_search_div {
  padding: 10px;
}
.searchInput {
  width: auto;
  height: auto;
}

.navbarDiv {
  z-index: 1;
  position: relative;
  top: 25px;
  width: 400px;
}
.search_result_div {
  margin: auto;
  width: 50%;
  border: 1px solid red;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px;
  border-radius: 25px;
}

.employeeDiv {
  margin: 40px;
  border: 1px solid red;
  box-shadow: 5px 5px;
  border-radius: 25px;
}

.employee_inner_div {
  margin: 30px;
}

.logout_button {
  float: right;
}

h2 {
  margin: 20px;
}
